/*Code de Cédric*/

/*Navbar de Brayan réadaptée (pas très clean niveau code, mais je comprends pas ses grids)*/

.topnavCedric a {
    float: right;
    padding: 3vh;
    padding-right: 3vw;
    font-size: 2vh;
    text-decoration: none;
    height: 3vh;
    width:  1.88vw;
    color: lightgrey;
}
  
.topnavCedric a:hover {
    background-color: #ddd;
    color: black;
}

.headerCedric{
    width: 100%;
    grid-row: 1;
    grid-column: 1/4;
    background-color:rgba(0, 0, 0, 0.600);
    border: solid lightgrey 2px;
    height: 9.3vh;
}

/* Footer des pages*/

.homeFooter {
    position: relative;
    grid-row: 3;
    grid-column: 2;
    display: block;
    order: 10;
    width: 53vw;
    height: 10vh;
    background-color:rgba(0, 0, 0, 0.411);
    margin:0;
    text-align: center;
    color: lightgray;
}

/*Page Home (accueil)*/

#homeBody {
    background-image: url(img_home/SFstage01.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100vw 150vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 4fr 1fr;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.homeh2 {
    font-size: 50px;
    width: 50vw;
    margin: 10px;
}

/*Container des articles de la page home*/

.homearticlebox {
    top: 25vh;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border-collapse: collapse;
    background-color:rgba(0, 0, 0, 0.411);
    color: lightgrey;
    overflow: scroll;
}

.homearticle {
    order:1;
    width: 53vw;
    height: 25vh;
    flex: 0 2;
    text-align: justify;
}

.homep {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Images latérales */

#asidegauche {
    grid-row: 2;
    grid-column: 1;
    max-width: 25vw;
    max-height: 66vh; 
    margin-left: 3vw;
}

#asidedroite {
    grid-row: 2;
    grid-column: 3;
    max-width: 25vw;
    max-height: 66vh;
    margin-left: 3vw;
}

/* Page Gallerie */

.galleryBody {
    background-image: url(img_home/SFstage01.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100vw 150vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.homenav ul {
    list-style: none;
    margin-left: 3vh;
}

/* J'ai essayé de faire un carroussel avec des flèches, je crois que c'était un peu au-dessus de mes capacités actuelles ^^" */

.rouleau img {
    display: block;
    max-width: 25vw;
    max-height: 25vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.rouleau {
    grid-column:2;
    grid-row: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: scroll;
    background-color:rgba(0, 0, 0, 0.411);
    color: lightgrey;
}

 /* Code de Brayan*/
 /* Page du Blog */
 
#blog1 {
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 0.4fr;
    color: lightgrey;
}

#blog1 > p {
    grid-row: 2;
    grid-column: 2;
    font-size: 2vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.411);
    border:solid 1px #ddd;
    align-self: center;
    justify-self: center;
}

#blog1 > ul {
    grid-column: 2;
    grid-row: 2;
    list-style-type: none;
    font-size: 2vh;
    align-self: end;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.411);
    border:solid 1px #ddd;

}
#blog1 > img{
    grid-column: 1;
    grid-row: 2;
    border:solid 1px #ddd;
}

#blog1 > iframe{
    grid-column: 3;
    grid-row: 2;
    justify-self: right;
    border:solid 1px #ddd;
    
}

#blog2{
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-rows:0.4fr 1fr 0.4fr;
    color: lightgrey;

}

#blog2 > p {
    grid-row: 2;
    grid-column: 2;
    font-size: 2vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.411);
    border:solid 1px #ddd;
    align-self: center;
    justify-self: center;
}

#blog2 > ul {
    grid-column: 2;
    grid-row: 2;
    list-style-type: none;
    font-size: 2vh;
    align-self: end;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.411);
    border:solid 1px #ddd;

}

#blog2 > img{
    grid-column: 1;
    grid-row:2;
    border:solid 1px #ddd;
}

#blog2 > iframe{
    grid-column: 3;
    grid-row: 2;
    justify-self: right;
    border:solid 1px #ddd;
}

#blog3{
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-rows:0.4fr 1fr 0.4fr;
    color: lightgrey;

}

#blog3 > p {
    grid-row: 2;
    grid-column: 2;
    font-size: 2vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.411);
    border:solid 1px #ddd;
    align-self: center;
    justify-self: center;
}

#blog3 > ul {
    grid-column: 2;
    grid-row: 2;
    list-style-type: none;
    font-size: 2vh;
    align-self: end;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.411);
    border:solid 1px #ddd;

}

#blog3 > img{
    width: 400px;
    height: 400px;
    grid-column: 1;
    grid-row:2;
    border:solid 1px #ddd;
}

#blog3 > iframe{
    grid-column: 3;
    grid-row: 2;
    justify-self: right;
    border:solid 1px #ddd;
}

body{
    background-image: url(img_home/SFstage01.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100vw 250vh;
}

hr {
    align-self: center;
    width: 80vw;  
    border-style: dashed;
    color: lightgrey;

}


.lien:link{
    color: lightgray;
}
.lien:visited{
    color: gold;
}
.lien:active{
    color: green;
}



/*Page de contact*/

#formulaire{
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    text-align: center;
}

form{
    grid-column: 2;
    grid-row: 2;
    font-size: 20px;
    text-align: left;
    border-color:black ;
}

#xayah{
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
    
}

#rakan{
    grid-column:3 ;
    grid-row: 2;
}

input,label {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
    font-style: italic;
    color: lightgray;
}

fieldset{
    border-color:white;
    color: red;
    background-color: rgba(0, 0, 0, 0.411);
}

#formulaire{
    height: 175vh;
}

.button{
    color: black;
}

.footerBrayan{   /*Footer renommé*/
        text-align: center;
        padding-top: 50px;
        border:black solid 2px;
        margin-left: 5%;
        width: 90vw;
        background-color: rgba(0, 0, 0, 0.411);
        color: lightgray;
        border:solid 1px #ddd;
}

 /*On essaye une navbar, c'était pas clair mais çà va mieux */
.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.411);
    border: solid 1px white;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 3vh;
    font-size: 1vw;
    text-decoration: none;
    height: 3vh;
    width:  3vw;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.headerBrayan{
    width: 100%;
    background-image: none;
    border: none;

}




