@font-face {
    font-family: Overbyte ;
    src :   url(/fonts/ccoverbyteoffregular.otf) format(woff2),
            url(/fonts/ccoverbyteoffregular.otf) format(truetype),
            url(/fonts/ccoverbyteoffregular.otf) format(woff)      
}

#bodyaccueil {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    background-image: ;
}

.homearticlebox {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-flow: column wrap;
    height: 900px;
    width: 900px;
    justify-content: center stretch ;
    align-content: stretch;
    background-color: grey;
    border-collapse: collapse;
}

h1 {
    font-family: Overbyte;
}

.homeh2 {
    font-size: 50px;
    width: 800px;
    margin: 10px;
}

header {
    grid-row: 1;
    grid-column: 2 /span3;
    width:1300px;
    height: 100px;
    text-align: left;
}

nav {
    grid-row: 1;
    grid-column: 1;
    font-display: none;
    width: 200px;
    height: 100px;
}

.homearticle {
    display: block;
    order:1;
    width: 900px;
    height: 300px;
    flex: 0 2;
    border: dotted lightblue;
    border-collapse: collapse;
    text-align: justify;
}

#asidegauche {
    grid-row: 2;
    grid-column: 1;
    display: block;
    width: 300px;
    height: 900px; 
    border: solid blue;
    flex: none;
}

#asidedroite {
    grid-row: 2;
    grid-column: 3;
    display: block;
    width: 300px;
    height: 900px;
    border: solid blue; 
    flex: none;   
}

footer {
    grid-row: 3;
    grid-column: 1 /span3;
    display: block;
    order: 10;
    width: 1500px;
    height: 100px;
}

.homep {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: gold;
}

a:visited {
    color: aqua;
}









 /* Code de Brayan le magnifique */

#blog1 {
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 0.4fr;
}

#blog1 > p {
    grid-row: 2;
    grid-column: 2;
    font-size: 30px;
    text-align: center;
}

#blog1 > ul {
    grid-column: 2;
    grid-row: 2;
    list-style-type: none;
    font-size: 20px;
    align-self: end;
    text-align: center;
}

h2 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 100px
}

#blog1 > img{
    grid-column: 1;
    grid-row: 2;
}
#blog1 > iframe{
    grid-column: 3;
    grid-row: 2;
    justify-self: right;
    
}

#blog2{
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-rows:0.4fr 1fr 0.4fr;
}

#blog2 > p {
    grid-row: 2;
    grid-column: 2;
    font-size: 30px;
    text-align: center;
}

#blog2 > ul {
    grid-column: 2;
    grid-row: 2;
    list-style-type: none;
    font-size: 20px;
    align-self: end;
    text-align: center;
}

#blog2 > img{
    grid-column: 1;
    grid-row:2;
}

#blog2 > iframe{
    grid-column: 3;
    grid-row: 2;
    justify-self: right;
}
#blog3{
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-rows:0.4fr 1fr 0.4fr;
}

#blog3 > p {
    grid-row: 2;
    grid-column: 2;
    font-size: 30px;
    text-align: center;
}

#blog3 > ul {
    grid-column: 2;
    grid-row: 2;
    list-style-type: none;
    font-size: 20px;
    align-self: end;
    text-align: center;
}

#blog3 > img{
    width: 400;
    height: 400;
    grid-column: 1;
    grid-row:2;
}
#blog3 > iframe{
    grid-column: 3;
    grid-row: 2;
    justify-self: right;
}

body{
    background-color:forestgreen;
}

hr {
    align-self: center;
    size: 8px;
    width: 1800px;
    border-style: dashed;
}
#formulaire{
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 0.4fr;
    text-align: center;
}
form{
    grid-column: 2;
    grid-row: 2;
    font-size: 20px;
    text-align: left;
    border-color:black ;
}
#xayah{
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
    

}
#rakan{
    grid-column:3 ;
    grid-row: 2;
}


